.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6200ea;
    padding: 10px 20px;
    color: white;
  }
  
  .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  